<form id="searchShow">
    <label>Title<input type="text" id="title" value=""></label>
    <label>Released After<input type="date" id="after" value=""></label>
    <label>Released Before<input type="date" id="before" value=""></label>
    <label>Episodes Number<input type="number" id="episode_num" value=""></label>
    <label>Genre<input type="text" id="genre" value=""></label>
    <input type="submit" value="Search!">
</form>
