<form id="createPerson">
    <label>Name<input type="text" id="name" value="{{config.name}}"></label>
    <label>Birthdate<input type="date" id="birthdate" value="{{config.birthdate}}"></label>
    <label>Bio<input type="text" id="bio" value="{{config.bio}}"></label>
    <label>Awards<input type="text" id="awards" value="{{config.awards}}"></label>
    <input type="submit">
</form>
