<form id="createPerson">
    <label>Name<input type="text" id="name" value=""></label>
    <label>Birthdate<input type="date" id="birthdate" value=""></label>
    <label>Bio<input type="text" id="bio" value=""></label>
    <input type="submit">
</form>
