<form>
    <label>Name<input type="text" id="name" value=""></label>
    <label>Born after<input type="date" id="after"></label>
    <label>Born before<input type="date" id="before"></label>
    <label>Awards<input type="text" id="awards" value=""></label>
    <input type="submit" value="Search!">
</form>
