<form>
    <label>Name<input type="text" id="name" value="{{config.name}}"></label>
    <label>Birthdate<input type="date" id="birthdate" value="{{config.birthdate}}"></label>
    <label>Bio<textarea id="bio" rows=4>{{config.bio}}</textarea></label>
    <label>Awards<textarea rows=4 id="awards" >{{config.awards}}</textarea></label>
    <input type="submit">
    <br>
    <label>Roles {{#config.show}}
        <a href="/show/{{show_id}}/update" data-section="show/update">{{title}}</a> {{/config.show}}</label>
</form>
